<% include ./partials/header %>
<div class="ui main text container">
    <div class="ui huge header">ABOUT</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
                <div class="item">
                    <div class=" image">
                        <img  src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-0/c1.0.367.367/p370x247/17554093_1243812829065896_823677712735855457_n.jpg?oh=4561bfc9ddecbb58bcdd03620d303e18&oe=59B7EE88 " 
                        >
                    </div>
                    <div class="content">
                        <div class="description">
                            <h4>It is an opensource Blog Web site!</h4>
                            <p>It is made by <strong>Aakash Kashyap</strong> (B.tech final year student).</p>
                        </div>
                        <a class ="ui basic black button" href="https://github.com/aakash-kashyap/legendaryBlog.git">
                        Source Code
                        </a>    
                    </div>
                        
                </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>    